mes-integration/erp-sap/src/main/resources/wsdl/PS_ZC80_PPIF024.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:WL5G3N1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:documentation>
  </WL5G3N0:documentation>
  <wsp:UsingPolicy WL5G3N0:Required="true" />
  <wsp:Policy WL5G3N1:Id="BN_BN_ZC80_PPIF024">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" />
    <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
    <wsp:ExactlyOne />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
  </wsp:Policy>
  <WL5G3N0:types>
    <xsd:schema xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:WL5G3N3="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:WL5G3N3="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zc80ppif024S1">
        <xsd:sequence>
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Vornr" type="n0:char4" />
          <xsd:element name="Lmnga" type="n0:quantum13.3" />
          <xsd:element name="Xmnga" type="n0:quantum13.3" />
          <xsd:element name="Meinh" type="n0:unit3" />
          <xsd:element name="Ile01" type="n0:unit3" />
          <xsd:element name="Ism01" type="n0:quantum13.3" />
          <xsd:element name="Ile02" type="n0:unit3" />
          <xsd:element name="Ism02" type="n0:quantum13.3" />
          <xsd:element name="Ile03" type="n0:unit3" />
          <xsd:element name="Ism03" type="n0:quantum13.3" />
          <xsd:element name="Ile04" type="n0:unit3" />
          <xsd:element name="Ism04" type="n0:quantum13.3" />
          <xsd:element name="Ile05" type="n0:unit3" />
          <xsd:element name="Ism05" type="n0:quantum13.3" />
          <xsd:element name="Ile06" type="n0:unit3" />
          <xsd:element name="Ism06" type="n0:quantum13.3" />
          <xsd:element name="FinConf" type="n0:char1" />
          <xsd:element name="Budat" type="n0:date10" />
          <xsd:element name="Zflag" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zc80ppif024S2">
        <xsd:sequence>
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Vornr" type="n0:char4" />
          <xsd:element name="Zflag" type="n0:char1" />
          <xsd:element name="Rueck" type="n0:numeric10" />
          <xsd:element name="Rmzhl" type="n0:numeric8" />
          <xsd:element name="ZreturnType" type="n0:char1" />
          <xsd:element name="ZreturnMsg" type="n0:char255" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zc80ppif024T1">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zc80ppif024S1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zc80ppif024T2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zc80ppif024S2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zc80Ppif024">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IInput" type="tns:Zc80ppif024T1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zc80Ppif024Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EMes" type="n0:char20" />
            <xsd:element name="EOutput" type="tns:Zc80ppif024T2" />
            <xsd:element name="EType" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="Zc80Ppif024">
    <WL5G3N0:part name="parameters" element="WL5G3N2:Zc80Ppif024" />
  </WL5G3N0:message>
  <WL5G3N0:message name="Zc80Ppif024Response">
    <WL5G3N0:part name="parameter" element="WL5G3N2:Zc80Ppif024Response" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="ZC80_PPIF024">
    <WL5G3N0:operation name="Zc80Ppif024">
      <WL5G3N0:input message="WL5G3N2:Zc80Ppif024" />
      <WL5G3N0:output message="WL5G3N2:Zc80Ppif024Response" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ZC80_PPIF024" type="WL5G3N2:ZC80_PPIF024">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZC80_PPIF024" />
    </wsp:Policy>
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="Zc80Ppif024">
      <WL5G3N3:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZC80_PPIF024:Zc80Ppif024Request" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ZC80_PPIF024">
    <WL5G3N0:port name="ZC80_PPIF024" binding="WL5G3N2:ZC80_PPIF024">
      <WL5G3N3:address location="http://10.30.47.134:8000/ZBZZ/MES/ZC80_PPIF024/service/PS/PS_ZC80_PPIF024" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>